[class^="class"] {
  position: absolute;
  width: 10vw;
  height: 12vh;
}
.class1 {
top: 62vh;
left: 25vw;
}
.class2 {
  top: 65vh;
  left: 30vw;
}
.class3 {
  top: 200px;
  left: 242px;
}
.class4 {
  top: 215px;
  left: 350px;
}
.class5 {
  top: 210px;
  left: 370px;
}
.class6 {
  top: 210px;
  left: 370px;
}
.class7 {
  top: 210px;
  left: 370px;
}
.class8 {
  top: 210px;
  left: 370px;
}
.class9 {
  top: 210px;
  left: 370px;
}