.body {
  position: relative;
  background: url('@/assets/pictures/home/background.png') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.planet {
  width: 10vw;
  height: 19vh;
  vertical-align: middle;
  margin-left: 5vw;
}

.energy {
  width: 2vw;
  height: 4vh;
  vertical-align: middle;

}

[class$='energy'] {
  margin: 3vh;
  margin-left: 6vh;
}

.navibar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 60vw;
  top: 0;
}

.navi-item {
  flex: 1;
  width: 5vw;
  height: 18vh;
  margin: 5vh;

}

.more {
  flex: 1;
  width: 5vw;
  height: 18vh;
  margin: 5vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 27vh;
  left: 90vw;
}

.continent1 {
  width: 30vw;
  height: 40vh;
}


.popup-overlay {
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50% -50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-body {
  margin-bottom: 20px;
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
}